.container
  %ul.nav.nav-pills
    %li
      = link_to "Change my account", edit_user_registration_path
    %li
      = link_to "Login", new_user_session_path unless current_user
    %li
      = link_to "Logout", destroy_user_session_path, method: :delete if current_user
  %h1 Users list
  .row
    - if current_user
      - @users.each do |user|
        .col-md-12
          = user.email

= link_to "Large modal","#", class: "btn btn-primary", data: {toggle: "modal", target: "#modal_1" }
= modal_helper("Header", target: "modal_1") do
  .modal-body
    %p One fine body…
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    %button.btn.btn-primary{:type => "button"} Save changes

